* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{    
    font-size: 16px;
    height: 100%;
}

body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.9);
    background-color: #353535;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;

}

a{
    text-decoration: none;
    color:inherit;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
    display: block;
}

video {
    max-width: 100% !important;
    height: auto;
}

#top{
    display:inline-block;
    position:fixed;
    bottom:0;
    left:0;
    margin:1rem;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    font-size:1rem !important; 
    text-transform: uppercase;
    background-color: rgba(34, 34, 34, 0.8);
    color:rgba(255, 255, 255, 0.8);
    z-index:999;
    cursor:pointer;
    
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}



/* Loader */

.is-visible {
    visibility: visible;
    opacity: 1;
}

.not-visible {
    visibility: hidden;
    opacity: 0;
}

#loading {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-weight: 400;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    
    -webkit-transition: opacity 100s, visibility 1.3s;
    -moz-transition: opacity 100s, visibility 1.3s;
    transition: opacity 100s, visibility 1.3s;    
}

#loading:after {
  content: ".";
  animation: dots .65s steps(5, end) infinite;
}


/* Intro */

.intro-wrap {
    max-width: 768px;
    margin:0 auto;
    margin-top: 80px;
}

.intro {
    background-color: rgba(0,0,0,.5);
    margin: 20px;
    padding: 25px 30px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.intro a{
    color: #9cffc7;
}

.intro p{
    padding: 5px;
}


/* ARE.NA */

#arena{
    position: relative;
    padding-bottom: 30px;
}


#posts-container {
    max-width: 768px;
    padding: 0 20px;
    margin: 0 auto;
}

.post {
    width: 100%;
    background-color: rgba(0,0,0,.5);
    margin: 60px 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.post:hover { 
    box-shadow: 23px 23px 60px #111, -23px -23px 60px #444;
}

.post img{
    display: block;
    border-radius: 10px 0px 0px 10px;
    align-self:flex-start;
}

.post p{
    padding: 10px;
}

.link-box{
    display:flex;
    flex-direction: row;
}

.link-box img{
    width:150px;
    display: block;
    border-radius: 10px 0px 0px 10px;
}

.link-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.cover {
  object-fit: cover;
  min-width: 300px !important;
  max-height: 160px !important;
 }

.post-title{
    font-size: 1.2rem;
    letter-spacing: -0.022rem
}

.post-desc {
    display: none;
}

.post-text {
    padding: 15px;
}

.post-source{
    word-break: break-all;
    padding: .3rem .5rem; 
    margin-top:.5rem;
    font-size: .6rem;
    color: rgba(255,255,255,.2);
    font-weight: normal;
    border-radius: 20px;
    color: #000;    
    align-self: flex-start;

    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size:1500% 1500%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

/* Mobile */

@media only screen and (max-width: 768px) {
    
#posts-container {
    width: 100%;
}
    
.intro-wrap {
    margin-top: 70px;
}
    
.intro{  
    padding: 15px 20px;
}

 
.link-box{
    flex-direction: column;
}

.link-box img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    align-self: flex-start !important;
}

}

/* Spectrum */

@-webkit-keyframes spectrum {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes spectrum {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes spectrum {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes spectrum { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/* Loader */

@keyframes dots {
  0%,
  20% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0), 0.5em 0 0 rgba(255, 255, 255, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0), 0.5em 0 0 rgba(255, 255, 255, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(255, 255, 255, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
